


.App {
  text-align: center;
  background-color: rgb(225, 228, 222);
  height:100%;
  overflow-x: hidden;
}
/* 
.portfolio-container{
  height: 100vh;
}

.home-container{
  height: 100vh;
} */

.signup-form {
  position: relative;
  margin-top: 20vh;
  height: 100%;
}


.login-form {
  position: relative;
  margin-top: 20vh;
  height: 100%;
}

.buy-sell-form{
  position: relative;
  margin-top: 10vh;
  margin-right: 10vh;
  height: 100%;
}

.stock-table{
  position: relative;
  margin-top: 10vh;
  margin-left: 10vh;
  height: 100%;
}

.trades-table{
  margin: 5vh;
}

